<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Modulo One</title>

    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="on" http-equiv="cleartype">

    <% // Spinner %>
    <style>
      <%
        const primary = '#2c3e50';
        const spinnerSize = 200;
        const prefixes = {
          animation: ['-webkit-', ''],
          keyframes: ['-webkit-', ''],
          transform: ['-webkit-', '-ms-', '']
        };
        const prefixed = (type, value, separator) => prefixes[type].map((prefix) => prefix + value.trim()).join(separator || ' ');
      %>

      body {
        background: <%= primary %>;
      }

      #header {
        position: absolute;
        top: -<%= spinnerSize / 2 %>px;
        right: 0;
        left: 0;
        height: <%= spinnerSize / 2 %>px;

        transition: top 0.33s cubic-bezier(0.33, -0.69, .25, 1);
      }

      #header.loaded {
        top: 0;
      }

      #container {
        padding-top: <%= spinnerSize / 2 %>px;
      }

      #spinner-view {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -<%= spinnerSize / 4 %>px;
        margin-left: -<%= spinnerSize / 2 %>px;

        transition: all 0.33s cubic-bezier(0.33, -0.69, .25, 1);
      }

      #spinner-view:hover {
        border: 0;
      }

      #spinner-view.loaded {
        top: 0;
        margin-top: 0;
      }

      #spinner-view.loaded #logo {
        animation: none !important;
      }

      #spinner {
        width: <%= spinnerSize %>px;
        height: <%= spinnerSize / 2 %>px;
      }

      #logo {
        stroke: white;
        stroke-dasharray: 45% 5% 45% 5%;
        stroke-linejoin: round;
        stroke-linecap: round;
        fill: none;

        <%= prefixed('animation', `
        animation: fadeInLogo 0.5s ease-in, moveLogo 1.5s linear infinite;
        `) %>
      }

      <% prefixes.keyframes.forEach((prefix) => { %>
      @<%= prefix %>keyframes fadeInLogo {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      <% }); %>

      <% prefixes.keyframes.forEach((prefix) => { %>
      @<%= prefix %>keyframes moveLogo {
        0% {
          stroke-dashoffset: 0%;
        }
        100% {
          stroke-dashoffset: 100%;
        }
      }
      <% }); %>
    </style>

    <base href="/">
    <link rel="shortcut icon" href="logo.png">
    <link rel="manifest" href="manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Oswald|PT+Serif&amp;subset=cyrillic" rel="stylesheet">
  </head>

  <body>
    <header id="header"></header>
    <div id="container"></div>

    <% // Spinner displayed until the application loads %>
    <a id="spinner-view" href="/" onclick="event.preventDefault();">
      <svg id="spinner" viewBox="0, 0, <%= spinnerSize %>, <%= spinnerSize / 2 %>">
        <text id="logo" x="<%= spinnerSize / 2 - 100 %>" y="<%= spinnerSize / 4 + 25 %>" font-size="72" font-family="sans-serif">
          mod 1
        </text>
      </svg>
    </a>

    <% // Firebase %>
    <script src="https://www.gstatic.com/firebasejs/3.8.0/firebase.js"></script>
  </body>
</html>
