<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Modulo One</title>

    <meta content="text/html; charset=utf-8" http-equiv="content-type">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <meta content="True" name="HandheldFriendly">
    <meta content="320" name="MobileOptimized">
    <meta content="on" http-equiv="cleartype">

    <% // Spinner %>
    <style>
      <%
        const primary = '#2c3e50';
        const spinnerSize = 300;
        const prefixes = {
          animation: ['-webkit-', ''],
          keyframes: ['-webkit-', ''],
          transform: ['-webkit-', '-ms-', '']
        };
        const prefixed = (type, value, separator) => prefixes[type].map((prefix) => prefix + value.trim()).join(separator || ' ');
        const round = (value) => Math.round(value * 100) / 100;
      %>

      body {
        background: <%= primary %>;
      }

      #spinner-view {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -<%= spinnerSize / 2 %>px;
        margin-left: -<%= spinnerSize / 2 %>px;

        transition: all 0.33s cubic-bezier(0.33, -0.69, .25, 1);
      }

      #spinner-view.loaded {
        opacity: 0;

        <%= prefixed('transform', `
        transform: scale(0);
        `) %>
      }

      .spinner {
        width: <%= spinnerSize %>px;
        height: <%= spinnerSize %>px;
      }

      .spinner .logo {
        stroke: white;
        stroke-dasharray: 90% 10%;
        stroke-linejoin: round;
        stroke-linecap: round;
        fill: none;

        <%= prefixed('animation', `
        animation: fadeInLogo 0.5s ease-in, moveLogo 1.5s linear infinite;
        `) %>
      }

      <% prefixes.keyframes.forEach((prefix) => { %>
      @<%= prefix %>keyframes fadeInLogo {
        0% {
          opacity: 0;
        }
        100% {
          opacity: 1;
        }
      }
      <% }); %>

      <% prefixes.keyframes.forEach((prefix) => { %>
      @<%= prefix %>keyframes moveLogo {
        0% {
          stroke-dashoffset: 0%;
        }
        100% {
          stroke-dashoffset: 100%;
        }
      }
      <% }); %>
    </style>

    <base href="/">
    <link rel="shortcut icon" href="logo.png">
    <link rel="manifest" href="manifest.json">
    <link href="https://fonts.googleapis.com/css?family=Oswald|PT+Serif&amp;subset=cyrillic" rel="stylesheet">
  </head>

  <body>
    <div id="container"></div>

    <% // Spinner displayed until the application loads %>
    <div id="spinner-view">
      <svg class="spinner" viewBox="0, 0, <%= spinnerSize %>, <%= spinnerSize %>">
        <text class="logo" x="<%= spinnerSize / 2 - 100 %>" y="<%= spinnerSize / 2 + 20 %>" font-size="72" font-family="sans-serif">
          mod 1
        </text>
      </svg>
    </div>

    <% // Firebase %>
    <script src="https://www.gstatic.com/firebasejs/3.7.3/firebase.js"></script>
  </body>
</html>
